/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | NONE |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P   | NONE |
            // | NONE |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '   | NONE |
            // | NONE |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  | BSPC | NONE |
            //                    | num | sym | SHFT |   | CTRL | SPC  | ESC |

            bindings = <
  &none   &kp Q   &kp W   &kp E   &kp R     &kp T     &kp Y      &kp U      &kp I    &kp O     &kp P   &none
  &none   &kp A   &kp S   &kp D   &kp F     &kp G     &kp H      &kp J      &kp K    &kp L   &kp SQT   &none
  &none   &kp Z   &kp X   &kp C   &kp V     &kp B     &kp N      &kp M  &kp COMMA  &kp DOT  &kp BSPC   &none
                          &to 1   &to 2  &kp SHFT  &kp CTRL  &kp SPACE    &kp ESC
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // | NONE |    |    |    |    |    |   |  +  |  7  |  8  |  9  |  nav  | NONE |
            // | NONE |    |    |    |    |    |   |  -  |  4  |  5  |  6  |       | NONE | 
            // | NONE |    |    |    |    |    |   |     |     |     |     |  BSPC  | NONE |
            //                    |  |     |  |   |  |     |  |

            bindings = <
  &none    &trans    &trans  &trans      &trans  &kp KP_MULTIPLY      &kp PLUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &to 3   &none
  &none    &kp N6    &kp N7  &kp N8      &kp N9    &kp KP_DIVIDE     &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ENTER   &none
  &none  &kp LEFT  &kp DOWN  &kp UP  &kp PERIOD     &kp KP_EQUAL  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3     &trans   &none
                             &trans      &trans           &trans         &to 0        &trans        &trans
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &none   &kp EXCL     &kp AT          &kp HASH           &kp DLLR      &kp PRCNT  &kp CARET              &kp AMPS        &kp KP_MULTIPLY          &kp LPAR   &kp RPAR   &none
  &none  &kp TILDE  &kp GRAVE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET      &kp COLON  &kp MINUS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE  &kp ENTER   &none
  &none    &kp TAB  &kp EQUAL    &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp SEMICOLON   &kp PLUS             &kp UNDER                 &trans            &trans     &trans   &none
                                         &trans             &trans         &trans      &to 0                &trans                 &trans
            >;
        };

        nav {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans   &to 0  &trans  &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp ESC>;
        };

        combo_ret {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp RET>;
        };
    };
};
